DB_HOST=ls-4979b66437c22f1e22f5872e7e8538a81d9a1bab.c3cwakey6k0o.us-east-2.rds.amazonaws.com
DB_PORT=5432
DB_NAME=spotlight
DB_USER=dbmasteruser
DB_PASSWORD=

SMTP_HOST=strongmail2.biperf.com
SMTP_PORT=25
SMTP_USER=
SMTP_PASS=
MAIL_FROM=no-reply@spotlight.local
NEXT_PUBLIC_APP_URL=http://localhost:3000
